apiVersion: apps/v1
kind: Deployment
metadata:
  name: cpu-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: cpu-app
  template:
    metadata:
      labels:
        app: cpu-app
    spec:
      containers:
      - name: cpu
        image: polinux/stress
        command: ["stress"]
        args: ["--cpu", "1"]
        resources:
          requests:
            cpu: "100m"
          limits:
            cpu: "200m"
